<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published at</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.title, article %></td>
    <td><%= truncate(strip_tags(article.description)) %></td>
    <td><%= article.published_at.strftime('%d.%m.%Y %H:%M:%S') %></td>
  </tr>
<% end %>
</table>

<%= paginate @articles %>
